@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

.font-title { font-family: 'Bitter'; }
.font-body { font-family: 'Open Sans'; }

h1 {
    font-family: 'Bitter';
}

#wrapper {
    display:flex;
    margin:0;
    justify-content: space-between;
    height:100vh;
}

#sidebar {
    width:100%;
    background-color:white;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index:1;
    padding:20px;
}

/*.align-left { float:left; }
.align-right { float:right;}*/

.accordion{width:100%; margin: 0px auto;}
.accordion-toggle.active {color: #669999;}
.accordion-toggle {border-bottom: 1px solid #cccccc;cursor: pointer;margin: 0px;padding: 10px 20px 5px 0; position: relative;}
.accordion-toggle.active:after{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-bottom:5px solid #669999;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle:before{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-top:5px solid #000;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle.active:before{display:none;}
.accordion-content {padding: 10px 0;display: none; font-family:'Open Sans'; color: #669999;}
